

/* Mobile First */


/* The Starting Page */

header{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: beige;
}

main{
  background-color: beige;
}

header h1{
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;

}

.starter{
  display: flex;
  flex-direction: column;
}

.starter p{
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.starter button{
  margin-top: 10px;
  margin-bottom: 29px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* qwe */
.intro{
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* Question Page*/

.question-number p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 42px;
  list-style-type: none;
}

#question-number {
  display: flex;
  text-align: center;
  font-size: 20px;
}

#answer-submit-button{
  display: flex;
  justify-content: right;
  margin-left: 113px;
  margin-top: 50px;
}

.scorer{
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-bottom: 292px;
}

legend{
  font-size: 23px;
  margin-bottom: 17px;
}

input[type="radio"] {
  margin-right: 7px;
  margin-left: 98px;
  margin-bottom: 7px;
}

label{
  font-size: 18px;
}



/*  Incorrect Page */

.wrong-response{
  display: flex;
  flex-direction: column;
  font-size: 20px; 
  margin-top: 50px;
  text-align: center;
}

#next-question-button{
  margin-left: 131px;
  margin-top: 23px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.false, .correct{
  border-radius: 29%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* Correct Page */

.correct-response{
  display: flex;
  flex-direction: column;
  font-size: 20px; 
  margin-top: 50px;
  text-align: center;
} 

#show-results{
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 23px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Results Page */

fieldset{
  margin-top: 68px;
  margin-bottom: 27px;
}

.finished{
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#redo{
  margin-left: 109px;
  margin-top: 23px;
  margin-bottom: 32px;
}

.flex-item-double{
  flex: 2
}



/* Desktop version */


@media all and (min-width:800px){


  #start{
    width: 20%;
    display: flex;
    align-self: center;
    font-size: 20px;
    text-align: center;
    display:table-cell;
    margin-top: 7px;
    margin-bottom: 30px;
  }

  legend{
    margin-left: 600px;
    margin-bottom: 40px;
    margin-top: 35px;
  }

  input[type="radio"]{
    margin-right: 7px;
    margin-left: 900px;
    margin-bottom: 20px;

  }

  #answer-submit-button{
    display: flex;
    justify-content: right;
    margin-left: 900px;
    margin-top: 50px;
  }

  .false, .correct{
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #next-question-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #show-results{
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #redo{
    width: 20%;
    display: flex;
    align-self: center;
    font-size: 20px;
    text-align: center;
    display:table-cell;
    margin-left: 730px;
  }

  .finished{
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .intro{
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .correct-response{
    border-top: 100px;
  }

  .question-number p{
    font-size: 500px;
  }

}

